.header
  .header__logo
    Homework App
  .header__lists
    .hesder__lists__mypage
      higuchi
    .hesder__lists__logout
      ログアウト 

.contents
  .contents__btm
    .contents__text
      ここは仮置きで！
  .contents__btm
    .contents__form
.footer
  Homework App 2019
  
