.header {
  background-color:lightblue;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;   
  color: #330000	;
  font-family: 'arial';    
  &__logo {
    font-size: 40px;
    padding-left: 250px ;
  }
  &__lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding-right: 400px;
    &__mypage {
     
    }
    &__logout {
      
    }
  }
}

.contents {
  
}
  
